* {
  font-size: 18px;
}

h2 {
  color: orange;
}



/* Pseudo Class Example */

.pseudoClassExample {
  margin-top: 15px;
  width: 200px;
  height: 200px;
  background-color: yellow;
}

.pseudoClassExample:hover {
  background-color: orange;
  color: white;
}
